/* font-family: 'Architects Daughter', cursive;
font-family: 'Indie Flower', cursive; */

/* 
#98ddca
#d5ecc2
#ffd3b4
#ffaaa7 */

/* #f39189 #bb8082 #6e7582 #046582  */
.logo {
  margin-top: 5px;
  margin-bottom: 10px;

  height: 100px;
  width: auto;
  border-radius: 50%;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lora", serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}


/* navbar */

.navcon {
  background-color: #b7e9db;
}

.navitem {
  text-transform: uppercase;
  font-family: "Architects Daughter", cursive;
  font-size: 90%;
  letter-spacing: 2px;
  transition: 0.5s;
  font-weight: bold;
  color: #046582;
}
.navitem:hover {
  border-bottom: 2px solid #ffaaa7;
  border-top: 2px solid #ffaaa7;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #9c3d54;
  border: 1px solid #f39189;
  border-radius: 0.25rem;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #ffaaa7;
  font-weight: bold;
}

/* Headings */
.heder {
  min-height: 100vh;
   background-image:linear-gradient(
    rgba(200, 200, 200, 0.69),
    rgba(200, 200, 200, 0.69)
  ), url(https://images.pexels.com/photos/4710929/pexels-photo-4710929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}
.big-heading {
  font-family: "Indie Flower", cursive;
  font-size: 3.0rem;
  line-height: 1.5;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
  padding-top: 50px;
}

/* Title Section */

#title {
  color: #9c3d54;
  text-align: left;
}


.heds {
  padding: 3% 10% 7%;
}


/* Title Image */

.title-image {

  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* review Buttons */

.review-button {
  margin: 5% 3% 5% 5;
  background: #9c3d54;
  transition: 0.5s;
  word-spacing: 4px;
  letter-spacing: 2px;
}
.review-button:hover {
  transition: 0.5s;

  background: #ffd3b4;
}

/* gallery */
.gallerySec{
  position: relative;
  min-height: 100vh;
}


.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  padding-top: 10px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;

  color: #9c3d54;
  font-weight: bold;
  font-size: 100px;
}
.gallery-container h2 {
  padding-bottom: 10px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-top: 2px;
  color: #9c3d54;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}



@media(max-width: 768px) {
  body {
      padding: 0;
  }

  .container.gallery-container {
      border-radius: 0;
  }
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
