/* font-family: 'Architects Daughter', cursive;
font-family: 'Indie Flower', cursive; */

/* 
#98ddca
#d5ecc2
#ffd3b4
#ffaaa7 */

/* #f39189 #bb8082 #6e7582 #046582  */

.container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  margin-top: 5px;
  margin-bottom: 10px;

  height: 100px;
  width: auto;
  border-radius: 50%;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lora", serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}


/* navbar */

.navcon {
  background-color: #98ddca;
}

.navitem {
  text-transform: uppercase;
  font-family: "Architects Daughter", cursive;
  font-size: 90%;
  letter-spacing: 2px;
  transition: 0.5s;
  font-weight: bold;
  color: #046582;
}
.navitem:hover {
  border-bottom: 2px solid #ffaaa7;
  border-top: 2px solid #ffaaa7;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #9c3d54;
  border: 1px solid #f39189;
  border-radius: 0.25rem;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #ffaaa7;
  font-weight: bold;
}

/* Headings */
.heder {
  min-height: 100vh;
   background-image:linear-gradient(
    rgba(200, 200, 200, 0.69),
    rgba(200, 200, 200, 0.69)
  ), url(https://images.pexels.com/photos/4710929/pexels-photo-4710929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}
.big-heading {
  font-family: "Indie Flower", cursive;
  font-size: 3.0rem;
  line-height: 1.5;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
  padding-top: 50px;
}

/* Title Section */

#title {
  color: #9c3d54;
  text-align: left;
}


.heds {
  padding: 3% 10% 7%;
}


/* Title Image */

.title-image {

  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* review Buttons */

.review-button {
  margin: 5% 3% 5% 5;
  background: #9c3d54;
  transition: 0.5s;
  word-spacing: 4px;
  letter-spacing: 2px;
}
.review-button:hover {
  transition: 0.5s;

  background: #ffd3b4;
}

/* gallery */
.gallerySec{
 position: relative;
  min-height: 100vh;
}


.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  padding-top: 10px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;

  color: #9c3d54;
  font-weight: bold;
  font-size: 100px;
}
.gallery-container h2 {
  padding-bottom: 10px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-top: 2px;
  color: #9c3d54;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

/* section 3 */


.Aboutuz .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
  background-color: rgba(0,0,0,0.5);padding-bottom: 20px;
  

}
.Aboutuz .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: -1;
  
}
.Aboutuz .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
  
}
.Aboutuz .carousel-item h2{
	font-size: 80px;
  font-family: 'Architects Daughter', cursive;
	color: #e5ff00;
	margin:0 0 10px;
	opacity: 0;
  font-weight: bold;
}
.Aboutuz .carousel-item p{
	font-size: 30px;
	margin:0;
  font-family: 'Indie Flower', cursive;
	color: #ff0040;
	opacity:5;
 
}

.Aboutuz .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.Aboutuz .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}


@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.Aboutuz .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.Aboutuz .carousel-indicators{
	position: relative;
	margin:0;
}

.Aboutuz .carousel-indicators li{
	height: 70px;
	width: 70px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.3s ease;
}
.Aboutuz .carousel-indicators li.active{
	border-color: #ffffff;
	transform: scale(1.2);
}

.Aboutuz .carousel-control-next, 
.Aboutuz .carousel-control-prev{
	height: 60px;
	width: 60px;
	opacity: 1;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.3s ease;
}
.Aboutuz .carousel-control-next:hover, 
.Aboutuz .carousel-control-prev:hover{
   box-shadow: 0 0 10px #ffffff;
}
.Aboutuz .carousel-control-next img, 
.Aboutuz .carousel-control-prev img{
   width: 30px;
}
.Aboutuz .carousel-control-next{
	right: -90px;
}
.Aboutuz .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 767px){
  .Aboutuz .carousel-control-next, 
  .Aboutuz .carousel-control-prev{
  	display: none;
  }
  .Aboutuz .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .Aboutuz .carousel-item h2{
  	font-size: 45px;
  }
  .Aboutuz .carousel-item p{
  	font-size: 22px;
  }
}


/* review */

.reviewP h1 {
  padding-top: 10px;
  font-family: 'Architects Daughter', cursive;
  text-align: center;

  color: #9c3d54;
  font-weight: bold;
  font-size: 100px;
}

.revs {
  padding: 3% 10% 7%;
  text-align: center;
}


.reviewP{
	min-height: 100vh;
   background-image:linear-gradient(
    rgba(200, 200, 200, 0.69),
    rgba(200, 200, 200, 0.69)
  ), url(https://images.pexels.com/photos/4710929/pexels-photo-4710929.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
}

.reviewP .revh1{
  font-family: "Indie Flower", cursive;
  font-size: 60px;
  line-height: 1.5;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
  padding-top: 50px;
  color:  #9c3d54;
}
.reviewP .revp{
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Architects Daughter', cursive;
  font-size: 2 rem;
}
footer {
  height: 10vh;
  background-color: #98ddca;
  color:#046582;;
  font-size: 0.75rem;
  padding: 20px 0 20px;
  text-align: center;
  font-family: "Lora", serif;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color:#046582;
  transition: 0.5s;
  margin: 5px;
}

.footer-link:hover,
.footer-link:active {
  color: #ffaaa7;
  text-decoration: none;
  transition: 0.5s;
  margin: 5px;
}

.footer-twit:link,
.footer-twit:visited {
  text-decoration: none;
  color: #046582;
  transition: 0.5s;
  margin: 5px;
}

.footer-twit:hover,
.footer-twit:active {
  color: #ffaaa7;
  text-decoration: none;
  transition: 0.5s;
  margin: 5px;
}

.footer-fb:link,
.footer-fb:visited {
  text-decoration: none;
  color: #046582;
  transition: 0.5s;
  margin: 5px;
}

.footer-fb:hover,
.footer-fb:active {
  color: #ffaaa7;
  text-decoration: none;
  transition: 0.5s;
  margin: 5px;
}

.footer-note {
  font-family: "New Tegomin", serif;
  padding: 10px 10px;
}


.rtbutton{
  
  position: fixed;
  bottom: 30px;
  right:30px;
  z-index: 99;
}
.rtbutton a:link,
.rtbutton a:visited{
  color: #310b0b;
}


@media(max-width: 768px) {
  body {
      padding: 0;
  }

  .gallery-container {
      border-radius: 0;
  }
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
